In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\gurme\\Downloads'

In [4]:
os.chdir("C:\\Users\\gurme\\OneDrive\\Documents\\Documents\\Gagan\\DS\\DS\\Python\\Kaggle Comps\\PredictFutureSales")

In [195]:
train=pd.read_csv("sales_train.csv")

In [196]:
test=pd.read_csv("test.csv")

In [100]:
train.head

<bound method NDFrame.head of                date  date_block_num  shop_id  item_id  item_price  \
0        02.01.2013               0       59    22154      999.00
1        03.01.2013               0       25     2552      899.00
2        05.01.2013               0       25     2552      899.00
3        06.01.2013               0       25     2554     1709.05
4        15.01.2013               0       25     2555     1099.00
...             ...             ...      ...      ...         ...
2935844  10.10.2015              33       25     7409      299.00
2935845  09.10.2015              33       25     7460      299.00
2935846  14.10.2015              33       25     7459      349.00
2935847  22.10.2015              33       25     7440      299.00
2935848  03.10.2015              33       25     7460      299.00

         item_cnt_day
0                 1.0
1                 1.0
2                -1.0
3                 1.0
4                 1.0
...               ...
2935844           1.0
2935845           1.0
2935846           1.0
2935847           1.0
2935848           1.0

[2935849 rows x 6 columns]>

In [197]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [198]:
median = train[(train.shop_id==32)&(train.item_id==2973)&(train.date_block_num==4)&(train.item_price>0)].item_price.median()
train.loc[train.item_price<0, 'item_price'] = median

In [199]:
train["Sales_Amt"]=train["item_price"]*train["item_cnt_day"]

In [200]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'Sales_Amt'],
      dtype='object')

In [201]:
test.columns

Index(['ID', 'shop_id', 'item_id'], dtype='object')

In [202]:
len(list(set(test.item_id) - set(test.item_id).intersection(set(train.item_id)))), len(list(set(test.item_id))), len(test)

(363, 5100, 214200)

In [203]:
len(list(set(test.shop_id) - set(test.shop_id).intersection(set(train.shop_id)))), len(list(set(test.shop_id))), len(test)

(0, 42, 214200)

In [204]:
train["Sales_Amt"].head

<bound method NDFrame.head of 0           999.00
1           899.00
2          -899.00
3          1709.05
4          1099.00
            ...
2935844     299.00
2935845     299.00
2935846     349.00
2935847     299.00
2935848     299.00
Name: Sales_Amt, Length: 2935849, dtype: float64>

In [205]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'Sales_Amt'],
      dtype='object')

In [206]:
group=train.groupby(["shop_id",'item_id']).agg({'item_cnt_day': ['sum']})

In [207]:
group1=train.groupby(["shop_id",'item_id']).agg("Sales_Amt")

In [208]:
group1.head(10)

0           999.00
1           899.00
2          -899.00
3          1709.05
4          1099.00
            ...
2935840     299.00
2935841     349.00
2935843     299.00
2935844     299.00
2935847     299.00
Name: Sales_Amt, Length: 1764918, dtype: float64

In [209]:
len(group1)

424124

In [210]:
group1.columns = ['Sales_Amt']
group.reset_index(inplace=True)

In [211]:
group1.head()

0           999.00
1           899.00
2          -899.00
3          1709.05
4          1099.00
            ...
2935839     399.00
2935840     299.00
2935843     299.00
2935844     299.00
2935847     299.00
Name: Sales_Amt, Length: 1274212, dtype: float64

group = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)

In [212]:
train_y=train["Sales_Amt"]

In [213]:
train.drop(["Sales_Amt"],1,inplace=True)

In [214]:
test.columns

Index(['ID', 'shop_id', 'item_id'], dtype='object')

In [215]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [216]:
train1=train.drop(["date", 'date_block_num','item_price','item_cnt_day'],1)

In [217]:
from sklearn.linear_model import LinearRegression

In [218]:
lr=LinearRegression()

In [219]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [220]:
train1.columns
train1.shape

(2935849, 2)

In [221]:
test1.columns
test1=test.drop(["ID"],1)

In [222]:
test1.columns
test1.shape

(214200, 2)

In [223]:
lr.fit(train1,train_y)

LinearRegression()

In [224]:
predictions=lr.predict(test1)

In [351]:
predictions1=pd.DataFrame(predictions)

In [352]:
predictions1.to_csv("PredictFutureSales.csv")

In [225]:
train_date=pd.read_csv("sales_train.csv")

In [226]:
test_date=pd.read_csv("test.csv")

In [227]:
train_date.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [228]:
train_date1=train_date.drop(['date_block_num','item_price','item_cnt_day'],1)

In [229]:
train_date1.columns

Index(['date', 'shop_id', 'item_id'], dtype='object')

In [230]:
train_date1.head()

         date  shop_id  item_id
0  02.01.2013       59    22154
1  03.01.2013       25     2552
2  05.01.2013       25     2552
3  06.01.2013       25     2554
4  15.01.2013       25     2555

In [231]:
b = train_date1.date

In [232]:
b.columns=["date"]

In [233]:
b.head()

0    02.01.2013
1    03.01.2013
2    05.01.2013
3    06.01.2013
4    15.01.2013
Name: date, dtype: object

In [246]:
b = pd.to_datetime(b)

In [247]:
b.dtypes

dtype('<M8[ns]')

In [250]:
m= b.dt.to_period("M")

In [262]:
len(b),len(m),len(train)

(2935849, 2935849, 2935849)

In [265]:
train_date1.columns

Index(['date', 'shop_id', 'item_id'], dtype='object')

In [267]:
m.dtypes

period[M]

In [305]:
m1=pd.DataFrame(m)

In [310]:
train_month1=pd.concat([train_month,m1],1)
train_month1.columns
train_month1.head()
train_month1.columns=["date","shop_id","item_id","item_price","item_cnt_day","Sales_Amt","Month"]

In [311]:
train_month1

,date,shop_id,item_id,item_price,item_cnt_day,Sales_Amt,Month
0,02.01.2013,59,22154,999.00,1.0,999.00,2013-02
1,03.01.2013,25,2552,899.00,1.0,899.00,2013-03
2,05.01.2013,25,2552,899.00,-1.0,-899.00,2013-05
3,06.01.2013,25,2554,1709.05,1.0,1709.05,2013-06
4,15.01.2013,25,2555,1099.00,1.0,1099.00,2013-01
...,...,...,...,...,...,...,...
2935844,10.10.2015,25,7409,299.00,1.0,299.00,2015-10
2935845,09.10.2015,25,7460,299.00,1.0,299.00,2015-09
2935846,14.10.2015,25,7459,349.00,1.0,349.00,2015-10
2935847,22.10.2015,25,7440,299.00,1.0,299.00,2015-10
2935848,03.10.2015,25,7460,299.00,1.0,299.00,2015-03

In [362]:
groupby_month=train_month1.groupby("Month").sum("Sales_Amt")
groupby_month
groupby_month.reset_index(inplace=True)
groupby_month.dtypes
groupby_month

      Month  shop_id     item_id    item_price  item_cnt_day     Sales_Amt
0   2013-01  3095780  1038682227  7.060131e+07      116950.0  8.135506e+07
1   2013-02  3382266  1102025872  7.827604e+07      133607.0  9.479086e+07
2   2013-03  3787900  1172302372  8.109691e+07      140586.0  1.006548e+08
3   2013-04  3181701   987402995  6.406593e+07      112185.0  7.524793e+07
4   2013-05  3085008   960114246  6.355117e+07      116808.0  8.020317e+07
5   2013-06  3313588  1045019496  6.865706e+07      127421.0  9.117392e+07
6   2013-07  3624818  1140622173  7.028078e+07      128686.0  8.144784e+07
7   2013-08  3630566  1105381010  7.228013e+07      131676.0  8.424181e+07
8   2013-09  3279509  1003143161  7.519246e+07      133110.0  1.192925e+08
9   2013-10  3163738   977837110  7.151172e+07      119723.0  9.176544e+07
10  2013-11  3022585   929693899  7.199677e+07      117422.0  1.244601e+08
11  2013-12  4774743  1443971430  1.337510e+08      184559.0  1.928913e+08
12  2014-01  2863591   865350138  7.434636e+07      101419.0  8.586977e+07
13  2014-02  2984331   881541336  7.998067e+07      110954.0  1.021821e+08
14  2014-03  2940719   883636319  8.338979e+07      111778.0  1.113399e+08
15  2014-04  2688524   829373026  7.156313e+07      103499.0  9.212764e+07
16  2014-05  2792314   847393204  7.657228e+07      108501.0  1.095646e+08
17  2014-06  2819522   849934625  7.594709e+07      100143.0  9.009519e+07
18  2014-07  2752862   833142535  7.231337e+07       96758.0  8.654805e+07
19  2014-08  3109683   920295662  8.304104e+07      110037.0  9.935747e+07
20  2014-09  2622092   780681576  8.169178e+07      101819.0  1.162829e+08
21  2014-10  2516358   763212498  7.536150e+07       89813.0  8.827177e+07
22  2014-11  2861609   859451300  1.007588e+08      116223.0  1.471961e+08
23  2014-12  4440533  1344153285  1.685883e+08      169945.0  2.179430e+08
24  2015-01  2144328   669394141  7.051091e+07       78235.0  8.166410e+07
25  2015-02  2243539   700358677  7.031400e+07       80989.0  8.650145e+07
26  2015-03  2113341   662335607  6.802008e+07       76119.0  8.574415e+07
27  2015-04  1795890   579822077  5.971309e+07       78601.0  9.302452e+07
28  2015-05  1812637   574021931  6.091986e+07       73815.0  9.178172e+07
29  2015-06  1758457   558181542  5.480204e+07       63703.0  6.540496e+07
30  2015-07  1845342   595229440  5.396777e+07       64967.0  6.096865e+07
31  2015-08  1939235   590687567  5.759089e+07       69375.0  6.729293e+07
32  2015-09  1531314   485848640  5.461837e+07       65933.0  8.266919e+07
33  2015-10  1682442   548881181  5.993286e+07       66373.0  7.376688e+07
34  2015-11   687344   216663481  2.194683e+07       24990.0  2.525733e+07
35  2015-12   599882   191733079  1.825844e+07       21484.0  2.054725e+07

In [326]:
len(list(set(test.item_id) - set(test.item_id).intersection(set(train.item_id)))), len(list(set(test.item_id))), len(test)

(363, 5100, 214200)

In [354]:
predictions1.head()
#predictions1 is the predictions we made earlier and found the predicted sales amt according

             0
0  1561.653253
1  1545.731968
2  1550.626497
3  1550.682756
4  1548.657434

In [355]:
test.shape

(214200, 3)

In [356]:
len(predictions1)

214200

In [363]:
test_SalesAmt=pd.concat([test,predictions1],1)

In [364]:
test_with_price_SalesAmt

            ID  shop_id  item_id            0
0            0        5     5037  1561.653253
1            1        5     5320  1545.731968
2            2        5     5233  1550.626497
3            3        5     5232  1550.682756
4            4        5     5268  1548.657434
...        ...      ...      ...          ...
214195  214195       45    18454   644.534544
214196  214196       45    16188   772.017336
214197  214197       45    15757   796.264946
214198  214198       45    19648   577.361352
214199  214199       45      969  1628.222372

[214200 rows x 4 columns]

In [367]:
predictions1.head

<bound method NDFrame.head of                   0
0       1561.653253
1       1545.731968
2       1550.626497
3       1550.682756
4       1548.657434
...             ...
214195   644.534544
214196   772.017336
214197   796.264946
214198   577.361352
214199  1628.222372

[214200 rows x 1 columns]>

In [368]:
predictions1.columns=["item_cnt_month"]

In [373]:
predictions1["ID"]=range(0,214200)

In [374]:
predictions1.head()

   item_cnt_month  ID
0     1561.653253   0
1     1545.731968   1
2     1550.626497   2
3     1550.682756   3
4     1548.657434   4

In [376]:
predict=pd.DataFrame({"ID":predictions1["ID"],"item_cnt_month":predictions1["item_cnt_month"]})

In [377]:
predict.to_csv("PredictFutureSalesAttempt2.csv")

In [378]:
# Deleted index column in excel and saved with same name and submitted it.

   ID  item_cnt_month
0   0     1561.653253
1   1     1545.731968
2   2     1550.626497
3   3     1550.682756
4   4     1548.657434